.p-panelmenu .p-panelmenu-header > a {
    background: black;
    border: 0px;
    color: white;
}

.p-panelmenu:hover .p-panelmenu-header:hover > a:hover {
    background: black;
    border: 0px;
    color: white;
}

.p-panelmenu .p-panelmenu-header.p-highlight > a {
    background: black;
    border: 0px;
    color: white;
}

.p-panelmenu .p-panelmenu-content{
    background: black;
    border: 0px;
    color: white;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link{
    color: white;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text{
    color: white;
}

.p-panelmenu:hover .p-panelmenu-content:hover .p-menuitem:hover .p-menuitem-link:hover{
    color: white;
    background: black;
}